@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    display: grid;
}
header{
    background: rgba(1, 0, 1, 1);
    height: 60vh;
    width: 100%;
}
.logo{
    position: relative;
    left: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
nav a{
    display: inline-block;
    font-size: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 500px;
    margin: 0 10px;
    text-decoration: none;
    color: wheat;
    background: transparent;
    font-size: 10px;
}
.navul1{
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
    color: white;
}
.navul1 a:hover{
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: #EEEEFF;
}
.navul2{
    position: relative;
    right: 40px;
    display: flex;
    text-decoration: none;
    gap: 20px;
    list-style: none;
    color: rgba(128, 128, 128, 1);

}
.stword{
    display: grid;
    justify-content: center;
    color: white;
    text-align: center;
    margin: 80px;
}
.stword h1{
    font-size: 60px;
    color: white;
    margin: 100px 0 30px;
}
.stword p{
    font-size: 20px;
    margin: 30px;
}
.stimg{
    width: 100%;
    background: transparent;
}
.stimg{
    transition: .3s ease ;
}
.sctn2{
    background: rgba(1, 0, 1, 1);
    color: white;
    height: 200vh;
    margin-top: -10px;
}
.bigdv{
    position: absolute;
    padding: 40rem 17rem;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
.smalldv h1{
    position: relative;
    right: 0;
    margin-top: -62px;
    font-size: 20px;
    font-family: "Permament Marker", Roboto;
    line-height: 30px;
    color: white;
}
.smalldv h3{
    position: relative;
    line-height: 40px;
    font-weight: 700;
    font-size: 18px;
    font-family: "Permament Marker", Roboto;
}
.smalldv2{
    position: relative;
    left: 30px;
    line-height: 40px;
    margin: 0 80px;
}
.raketa{
    position: absolute;
    left: 60rem;
    margin: -40px 100px;
}
.textword{
    position: absolute;
    margin: 80rem 17rem;
    width: 450px;
}
.textword h1{
    display: block;
    font-size: 20px;
    margin: 0 0 40px 0;
    line-height: 30px;
    font-family: "Permament Marker", Roboto;
}
.textword p{
    font-size: 15px;
    line-height: 22px;
    font-family: "Permament Marker", Roboto;
}
footer{
    height: 40vh;
    display: grid;
    background: rgba(1, 0, 1, 1);
    color: white;
}
.endlogo{
    display: block;
    position: relative;
    margin-top: -50px -20px;
    width: 200px;
}
.dive{
    display: flex;
    justify-content: center;
    line-height: 7rem;
    gap: 50px;
    font-size: 20px;
}
.dive a{
    text-decoration: none;
    background: transparent;
    color: antiquewhite;
    align-items: center;
    cursor: pointer;
}
.dive a:hover{
    color: aqua;
}
.nn a{
    text-decoration: none;
    cursor: wait;
}
.endbtn{
    background: black ;
    width: 360px;
    height: 70px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 20px 0 20px 0;
    font-family: "Permament Marker",Lora;
}
.endbtn:hover{
    transition: 0.8s;
    transform: translateY(-13px) translate3d(20px);
    background: #7a7a7a;
    color: #222222;
    font-size: 20px;
}