@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header{
    background: white;
}
.logo{
    position: relative;
    right: 40px;
    width: 65px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 83px;
    font-family: "Permament Marker"  Lora;
}
nav a{
    text-decoration: none;
    background: transparent;
    font-size: 20px;
    color: #333333;
    font-family: "Permament Marker"  Open Sans;
}
.sctn{
    background: rgba(248, 177, 1, 1);
}
.kattadiv{
    display: flex;
    justify-content: center;
    margin-left: 7rem;
}
.kichikdiv{
    width: 450px;
}
.kichikdiv h1{
    font-size: 55px;
    color: white;
    line-height: 60px;
    margin-top: 50px;
}
.kichikdiv p{
    font-size: 16px;
    color: white;
}
.btn{
    width: 140px;
    height: 40px;
    background: transparent;
    color: rgb(128, 37, 37);
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 12px;
}
.image{
    position: relative;
    padding: 30px 0 0 100px;
}

.bigdiv{
    position: relative;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    gap: 30pc;
}
.smalldiv{
    width: 450px;
}
.smalldiv h1{
    font-size: 65px;
    color: rgb(34, 31, 31);
    line-height: 25px;
    margin-top: 50px;
}
.smalldiv p{
    font-size: 17px;
    padding: 30px 0 2rem;
}
.btn2{
    width: 140px;
    height: 40px;
    background: transparent;
    color: rgb(128, 37, 37);
    background: white;
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 12px;
}
.ourmn{
    font-size: 24px;
    position: relative;
    margin: 8cm 0 2cm 4cm;
}
.threeimg{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4cm;
}
.humburger{
    width: 295px;
}
.bb{
    width: 310px;
}
.humburger h1{
    font-size: 25px;
    text-align: center;
}
.humburger p{
    text-align: left;
}
.bynow{
    width: 80px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #111111;
    border-radius: 8px;
    color: white;
    background: #222222;
}
.stn{
    background-image: url(./meat.svg);
    background-size: cover;
    height: 100vh;
    margin-top: 30px;
}
.smalldiv1{
    position: relative;
    padding: 10rem 5rem;
    width: 450px;
}
.smalldiv1 h1{
    font-size: 65px;
    color: rgb(211, 208, 203);
    line-height: 25px;
    margin-top: 50px;
}
.smalldiv1 p{
    font-size: 17px;
    padding: 30px 0 2rem;
    color: rgb(211, 208, 203);
}
.btn3{
    width: 140px;
    height: 40px;
    background: transparent;
    color: rgb(128, 37, 37);
    background: rgb(238, 238, 11);
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 12px;
}
.card{
    background: white;
    text-align: center;
    overflow: hidden;
}
.card h1{
    font-size: 50px;
    padding-top: 40px;
} 
.card p{
    position: relative;
    margin: 0 500px;
    width: 480px;
    height: 110px;
    padding-top: 40px;
    background: yellow;
    font-size: 18px;
}
.png{
    position: relative;
    bottom: 30px;
}
.png img{
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background: blue;
    box-shadow: 2px 2px  10px white;
}
.stars{
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: -10px;
    color: orange;
}
footer{
    display: flex;
    justify-content: space-around;
    background: rgba(25, 14, 4, 1);
}
.footerdv{
    width: 140px;
}
.footerdv h3{
    color: rgb(216, 148, 21);
    font-style: bold;
    margin: 60px 0 30px;
    background: transparent;
    cursor: pointer;
} 
.footerdv h3:hover{
    transition: 0.5s;
    color: rgb(17, 88, 175);
}
.footerdv p{
    width: 130px;
    color: white;
    line-height: 20px;
}
.ricons{
    position: relative;
    display: flex;
    gap: 12px;
}
.ricons a{
    text-decoration: none;
    padding: 0 0 100px;
}
.ricons i{
    font-size: 50px;
    color: orange;
}